# ASCII stable path created by start.ps1 inside docker-desktop WSL.
DATA_HOST_PATH=/mnt/MinioConstructor2
FAKE_FREE_BYTES=10995116277760
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
POSTGRES_USER=agent
POSTGRES_PASSWORD=agent
POSTGRES_DB=agent_constructor
POSTGRES_HOST_PORT=5432
